Merge two datasets and save it in a new file:

In [75]:
  #render figures inline.
%matplotlib inline

import matplotlib.pyplot as plt

import seaborn as sns

import pandas as pd
import numpy as np
from sklearn.utils import shuffle
import warnings
warnings.filterwarnings("ignore")

seed = 42
np.random.seed(seed)

In [76]:
import datetime
now = datetime.datetime.now()
timestamp = now.strftime("%Y-%m-%d")

In [77]:
dir = '../'
data_dir = dir + 'data/'
src_paths = ['Amharic News Dataset.csv', 'business_news.csv', 'politics_news.csv']
dest_path = data_dir + 'Amharic_corpus_merged_' + timestamp + '.csv'

In [78]:
# import os
# if not os.path.exists(data_dir):
#     os.makedirs(data_dir)

In [113]:
path = data_dir + src_paths[0]
data = pd.read_csv(path)
data = shuffle(data)
data.head(10)

,headline,category,date,views,article,link
37944,የኢድ -አል- አድሐ ወግ ከአባስ ሁሴን ጋር,ሀገር አቀፍ ዜና,"August 01, 2020",Unknown,አባስ ሁሴን በዋሺንግተን ዲሲ እና አካባቢዎ ከ20 ዓመት በላይ የኖረ ትው...,https://amharic.voanews.com//a/5526467.html
14767,በመጀመሪያው ሩብ ዓመት በወጪ ንግድ ዘርፍ ከታሰበው 95 በመቶው ተሳክቷል,ሀገር አቀፍ ዜና,"Oct 23, 2020",99,አዲስ አበባ፣ ጥቅምት 13፣ 2013 (ኤፍ.ቢ.ሲ) በተያዘው በጀት ዓመት ...,https://www.fanabc.com/%e1%89%a0%e1%88%98%e1%8...
8180,ኮቪድ 19 እና የፎቶግራፍ ጥበብ,መዝናኛ,2021-01-04,106,የተወለደው አዲስ አበባ ካሳንችስ አካባቢ ነው። ከጅማ ዩኒቨርስቲ በኢኮኖሚ...,https://addismaleda.com/archives/15409
21694,የኢቢሲ ዋና ሥራ አስፈጻሚ ከኃላፊነታቸው ለቀቁ,ፖለቲካ,22 May 2019,Unknown,ነባሩን የሕወሓት አመራር አባል አቶ ብርሃነ ኪዳነ ማርያምን ከሁለት ዓመት...,https://www.ethiopianreporter.com/article/15693
29822,ድሬዳዋ ከተማ የእግድ ውሳኔ ተላለፈበት,ስፖርት,"July 12, 2019",Unknown,ድሬዳዋ ከተማ ሶስት ተጫዋቾችን በማሰናበቱ ፌድሬሽኑ ያለ አግባብ ነው ውሳ...,https://soccerethiopia.net/football/49281
14458,የመከላከያ ሰራዊት ከየትኛውም አቅጣጫ ሊሰነዘር የሚችልን ጥቃት በብቃት መ...,ሀገር አቀፍ ዜና,"Nov 6, 2020","1,175",አዲስ አበባ ፣ ጥቅምት 27 ፣ 2013 (ኤፍ ቢ ሲ) ከሀገር ውስጥም ሆነ...,https://www.fanabc.com/%e1%8b%a8%e1%88%98%e1%8...
34791,ታክቲካዊ ትዝብቶች ፡ የቡና የመስመር አጨዋወት እና የሀዲያ ሆሳዕና የመከ...,ስፖርት,"March 1, 2016",Unknown,ትናንት ምሽት በአዲስ አበባ ስታዲየም በተደረገው የኢትዮጵያ ፕሪምየር ሊ...,https://soccerethiopia.net/football/6555
10874,ከተለያዩ የሀገሪቱ ክፍሎች በሕገ ወጥ መንገድ ወደሱዳን ለመውጣት የተሰባሰ...,ሀገር አቀፍ ዜና,"February 28, 2020",71,ከሀገሪቱ የተለያዩ ክፍሎች በሕገ ወጥ መንገድ ወደሱዳን ለመውጣት የተሰባሰ...,https://www.amharaweb.com/5327-2/
6547,ኮካኮላ ለ30 የዩኒቨርሲቲ ተማሪዎች ድጋፍ ያደርጋል,ቢዝነስ,"Saturday, 27 September 2014 09:42",1385,ኢስት አፍሪካ ቦትሊንግ አክሲዮን ማህበር (ኮካኮላ) ከመንግስት ዩኒቨር...,https://www.addisadmassnews.com/index.php?opti...
47090,የቦንጋ ምርጫ ክልል የተካሄደው የድምጽ አሰጣጥ ሂደት ተጠናቀቀ,ፖለቲካ,"June 15, 2015",Unknown,-በ2007ቱ አጠቃላይ ሀገራዊ ምርጫ ተራዝሞ የነበረው የቦንጋ ምርጫ ክልል...,https://waltainfo.com/am/25442/

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51483 entries, 37944 to 32143
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  51470 non-null  object
 1   category  51482 non-null  object
 2   date      51483 non-null  object
 3   views     51483 non-null  object
 4   article   51483 non-null  object
 5   link      51483 non-null  object
dtypes: object(6)
memory usage: 2.7+ MB

In [115]:
data.isnull().sum()

headline    13
category     1
date         0
views        0
article      0
link         0
dtype: int64

In [118]:
data = data[['article', 'category']]
n_data = data.copy()
n_data.head(10)

                                                 article    category
37944  አባስ ሁሴን በዋሺንግተን ዲሲ እና አካባቢዎ ከ20 ዓመት በላይ የኖረ ትው...  ሀገር አቀፍ ዜና
14767  አዲስ አበባ፣ ጥቅምት 13፣ 2013 (ኤፍ.ቢ.ሲ) በተያዘው በጀት ዓመት ...  ሀገር አቀፍ ዜና
8180   የተወለደው አዲስ አበባ ካሳንችስ አካባቢ ነው። ከጅማ ዩኒቨርስቲ በኢኮኖሚ...        መዝናኛ
21694  ነባሩን የሕወሓት አመራር አባል አቶ ብርሃነ ኪዳነ ማርያምን ከሁለት ዓመት...        ፖለቲካ
29822  ድሬዳዋ ከተማ ሶስት ተጫዋቾችን በማሰናበቱ ፌድሬሽኑ ያለ አግባብ ነው ውሳ...        ስፖርት
14458  አዲስ አበባ ፣ ጥቅምት 27 ፣ 2013 (ኤፍ ቢ ሲ) ከሀገር ውስጥም ሆነ...  ሀገር አቀፍ ዜና
34791   ትናንት ምሽት በአዲስ አበባ ስታዲየም በተደረገው የኢትዮጵያ ፕሪምየር ሊ...        ስፖርት
10874  ከሀገሪቱ የተለያዩ ክፍሎች በሕገ ወጥ መንገድ ወደሱዳን ለመውጣት የተሰባሰ...  ሀገር አቀፍ ዜና
6547     ኢስት አፍሪካ ቦትሊንግ አክሲዮን ማህበር (ኮካኮላ) ከመንግስት ዩኒቨር...        ቢዝነስ
47090  -በ2007ቱ አጠቃላይ ሀገራዊ ምርጫ ተራዝሞ የነበረው የቦንጋ ምርጫ ክልል...        ፖለቲካ

In [119]:
n_data.isnull().sum()

article     0
category    1
dtype: int64

## Business Data

In [120]:
path = data_dir + src_paths[1]
data = pd.read_csv(path)
data = shuffle(data)
data.head(1)

,Date,Title,Page,URL,Linked_URL,NEWS_CONTENT
2304,NaN,\n\nበሚቀጥለው ዓመት ለግብርና ዘርፍ በርካታ ፕሮጀክቶች ለጨረታ ይቀርባሉ,231,https://www.ethiopianreporter.com/64482,[],\n\n\nየኢትዮጵያ ግብርና ዘርፍ ከዝናብ ጥገኝነት በማላቀቅ ወደ ሰፋፊ ...

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5281 entries, 2304 to 3638
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          0 non-null      float64
 1   Title         5276 non-null   object
 2   Page          5281 non-null   int64
 3   URL           5281 non-null   object
 4   Linked_URL    5281 non-null   object
 5   NEWS_CONTENT  5276 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 288.8+ KB

In [122]:
data.isnull().sum()

Date            5281
Title              5
Page               0
URL                0
Linked_URL         0
NEWS_CONTENT       5
dtype: int64

In [123]:
data['article'] = data['NEWS_CONTENT']
data['category'] = 'Business'
data = data[['article','category']]
data.head(2)

                                                article  category
2304  \n\n\nየኢትዮጵያ ግብርና ዘርፍ ከዝናብ ጥገኝነት በማላቀቅ ወደ ሰፋፊ ...  Business
131   \n\n\nብሔራዊ ባንክ ከአገር ውስጥ አምራቾች ወርቅ የሚገዛበትን ዋጋና ...  Business

In [124]:
data.dropna(inplace=True)

In [125]:
data.isnull().sum()

article     0
category    0
dtype: int64

In [126]:
df = pd.concat([n_data, data])
df.sample(10)

                                                 article    category
11503  ባሕር ዳር፡ መስከረም 20/2012 ዓ/ም (አብመድ) የሩሲያ ኦርቶዶክስ ቤ...  ዓለም አቀፍ ዜና
48010  አዲስ አበባ ፣ ህዳር 7/ 2006 (ዋኢማ) – የተጀመረውን የህዳሴ ጉዞ ...        ፖለቲካ
38016  ማሊ ውስጥ በመቶዎች የሚቆጠሩ ሰዎች፣ በመፈንቅለ መንግሥት ሥልጣን ያያዘው...  ሀገር አቀፍ ዜና
10333  በባሕር ዳር ከተማ አስተዳደር ቅዳሜ ለእሑድ አጥቢያ በሁለት አካባቢዎች የ...  ሀገር አቀፍ ዜና
32130  የካፍ ኮንፌዴሬሽን ዋንጫ የሁለተኛ ዙር የመጀመርያ ጨዋታዎች ከትላንት ጀም...        ስፖርት
35150  የኢትዮጵያ ብሄራዊ ሊግ ሩብ ፍፃሜ ጨዋታዎች ዛሬ ጠዋት ተጀምረዋል፡፡ ጠዋ...        ስፖርት
3503   አዲስ አበባ፦ የኢህአዴግ ውህደት በስምምነት ላይ መመስረቱ ለአገሪቱና ለህ...  ሀገር አቀፍ ዜና
23963  የአዲስ አበባ ከተማ አስተዳደር በዙሪያው ለሚገኙ የኦሮሚያ ልዩ ዞን ከተሞ...  ሀገር አቀፍ ዜና
23115  በአዲስ አበባ ከተማን ንፁህ የመጠጥ ውኃ አቅርቦት አስተማማኝ ለማድረግ በ...  ሀገር አቀፍ ዜና
3130   የበርበሬ የተፈጥሮ ምሽግና በርበሬ የቀዬው አድባር ወደሆነበት ድንቁ መንደ...  ሀገር አቀፍ ዜና

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56759 entries, 37944 to 3638
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   article   56759 non-null  object
 1   category  56758 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

In [130]:
df.isna().sum()

article     0
category    1
dtype: int64

In [132]:
n_data = df.copy()

## Politics Data

In [137]:
path = data_dir + src_paths[2]
data = pd.read_csv(path)
data = shuffle(data)
data.head(1)

,Date,Title,Page,URL,Linked_URL,NEWS_CONTENT
4461,NaN,\n\nየፓርላማ አባላት አዲሱ የፓርላማ ሕንፃ ግንባታ ለምን እንደዘገየ ጥ...,447,https://www.ethiopianreporter.com/50187,[],\n\n\n– የፓርላማ አባላትን ደኅንነት ፌዴራል ፖሊስ እንዲጠብቅ በጥብቅ...

In [138]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5161 entries, 4461 to 4365
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          0 non-null      float64
 1   Title         5156 non-null   object
 2   Page          5161 non-null   int64
 3   URL           5161 non-null   object
 4   Linked_URL    5161 non-null   object
 5   NEWS_CONTENT  5156 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 282.2+ KB

In [139]:
data.isna().sum()

Date            5161
Title              5
Page               0
URL                0
Linked_URL         0
NEWS_CONTENT       5
dtype: int64

In [140]:
data['article'] = data['NEWS_CONTENT']
data['category'] = 'Politics'
data = data[['article','category']]
data.head(2)

                                                article  category
4461  \n\n\n– የፓርላማ አባላትን ደኅንነት ፌዴራል ፖሊስ እንዲጠብቅ በጥብቅ...  Politics
4952  \n\n\n–  ሰባት አባላቱ ተከላከሉ ተባሉ\nአይኤስ በሊቢያ በኢትዮጵያው...  Politics

In [141]:
data.isna().sum()

article     5
category    0
dtype: int64

In [ ]:
# data = data.dropna(subset=['article'])

In [142]:
data.dropna(inplace=True)

In [143]:
df = pd.concat([n_data, data])
df.sample(10)

                                                 article    category
9199   የኢትዮጵያ ንግድ ባንክ ገንዘብ ገቢ ማድረግና የውጭ ምንዛሬ መመንዘር የሚ...        ቢዝነስ
34534  ኦምዱሩማን ላይ በሜሪክ ስታዲየም የሞሮኮውን ካውካብ ማራካሽን ያስተናገደው...        ስፖርት
47154  የመንግስት ኮሙኒኬሽን ጉዳዮች ፅሀፈት ቤት ሃላፊ ሚኒስትር አቶ ሬድዋን ሁ...        ፖለቲካ
29148  ወደ ፕሪምየር ሊግ ለመግባት ተወሰኖለት ኋላ ላይ ውሳኔው ተቀልብሶ በከፍተ...        ስፖርት
43604  ኢትዮጵያ የአባይ  ወንዝን በፍትሃዊነት ለመጠቀም  ከተፋሰሱ  አገራት ጋር...        ፖለቲካ
1914   \n\n\nየፌዴራል ፍርድ ቤቶች በኮሮና ቫይረስ ወረርሽኝ ምክንያት፣ ከመጋ...    Politics
11289  ባሕር ዳር፡ ጥቅምት 27/2012 ዓ.ም (አብመድ) የአማራ ክልል ኢንዱስት...  ሀገር አቀፍ ዜና
1735   \n\n\nየአውሮፕላን አደጋ ለመድን ድርጅት የአንድ ቢሊዮን ብር ገቢ አስ...    Business
38097  በፌዴራሉ ከፍተኛ ፍ/ቤት የሕገ መንግሥትና የፀረ ሽብር አንደኛ ችሎት ጥፋ...  ሀገር አቀፍ ዜና
22192  ከመንግሥታዊ ኃላፊነታቸው በመልቀቃቸው ምክንያት ከሕዝብና ቤቶች ቆጠራ ኮሚ...        ፖለቲካ

In [144]:
df.isna().sum()

article     0
category    1
dtype: int64

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61915 entries, 37944 to 4365
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   article   61915 non-null  object
 1   category  61914 non-null  object
dtypes: object(2)
memory usage: 1.4+ MB

In [147]:
n_data = df.copy()

In [148]:
n_data.category.value_counts()

ሀገር አቀፍ ዜና    20674
ስፖርት          10411
ፖለቲካ           9325
ዓለም አቀፍ ዜና     6543
Business       5276
Politics       5156
ቢዝነስ           3894
መዝናኛ            635
Name: category, dtype: int64

In [153]:
n_data.category.unique()

array(['ሀገር አቀፍ ዜና', 'መዝናኛ', 'ፖለቲካ', 'ስፖርት', 'ቢዝነስ', 'ዓለም አቀፍ ዜና', nan,
       'Business', 'Politics'], dtype=object)

In [154]:
df = n_data.copy()
d_replace = {'ፖለቲካ':'Politics', 
            'ሀገር አቀፍ ዜና':'Local News', 
            'ስፖርት':'Sports', 
            'ዓለም አቀፍ ዜና':'International News', 
            'ቢዝነስ':'Business', 
            'መዝናኛ':'Entertainment', 
            'Business':'Business',              # for the ones already changed before
            'Politics':'Politics', 
            np.nan:'Others'}
df.category = n_data.category.map(d_replace)
df.sample(10)

                                                 article            category
755    \n\n\nየኢትዮጵያ ብሔራዊ ባንክ መመርያ መሠረት እንደ አዲስ መሰጠት ያ...            Business
35876  የሱዳን ሉዓላዊ የሽግግር ምክር ቤት ሊቀመንበር ጀነራል አብዱልፈታህ አል ...          Local News
19389  አዲስ አበባ፣ የካቲት 26፣ 2012 (ኤፍ.ቢ.ሲ) 5ኛው የተባበሩት መንግ...  International News
26492  የኢትዮጵያ አየር መንገድ ባለፈው ሰኔ ወር በተጠናቀቀው እ.ኤ.አ. የ201...            Business
50957  በመንግሥት የሚፈፀምን ሙስና ተቃውመው አደባባይ ከወጡ ግብፃውያን መካከል ...            Politics
5037   \n\n\nከኢትዮጵያውያን ዴሞክራሲያዊ ፓርቲ (ኢዴፓ) ነባር አመራሮች አን...            Politics
4975   አዳማ\n:- በኢትዮጵያ በተጀመረው የለውጥ እንቅስቃሴ ለአርአያነት የሚበቁ...          Local News
58     ሱራ ሽቅብ ሽቅብ ያቃስታል። ግዝፈቱ ያስጨንቀዋል። ልብስ አይበቃውም። የጫ...       Entertainment
6200     የአዲስ አበባ ከተማ አስተዳደርና የቤተ ክርስቲያኒቱ ቅዱስ ሲኖዶስ በተ...          Local News
22038  ነዳጅ ድርጅት ከጠቅላይ ሚኒስትር ጽሕፈት ቤት ጋር እየተነጋገርኩ ነው ብሏ...            Business

In [155]:
df.isnull().sum()

article     0
category    0
dtype: int64

In [157]:
n_data = df.copy()

In [158]:
n_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61915 entries, 37944 to 4365
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   article   61915 non-null  object
 1   category  61915 non-null  object
dtypes: object(2)
memory usage: 1.4+ MB

## Save merged data

In [159]:
dest_path

'../data/Amharic_corpus_merged_2023-04-16.csv'

In [160]:
n_data.to_csv(dest_path, index = False, encoding='utf-8')